{% extends 'base.html' %}
{% block content %}
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Robert Ryan's Portfolio</h1>
            <h3 class="mb-5">
            <em><q>There are basically two types of people.<br>People who accomplish things,<br>and people who claim to accomplish things.<br>The first group is less crowded.</q><br>-Mark Twain</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'about' %}">Learn More About Me</a>
        </div>
    <div class="overlay"></div>
    </header>
{% endblock content %}
